.dropbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  visibility: hidden;
  background: #fff;
  opacity: 0;
  font-size: 3rem;
  border: 0.2rem dashed #36aef2;
  border-radius: 0.8rem;
  padding-top: 20vh;
  flex-direction: column;
  &__initial {
    font-size: 4rem;
    width: 100%;
    max-width: 60rem;
    padding: 10rem 3rem;
    border: 2px dashed #dde2e8;
    text-transform: capitalize;
    text-align: center;
    border-radius: 0.8rem;
    margin: auto;
    &.is-active {
      border-color: #36aef2;
      background-color: #eee;
    }
  }
  &.is-active {
    visibility: visible;
    opacity: 0.9;
  }
}
.dropbox__imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  background: #ecf8ff;
  border-radius: 2rem;
  margin: 0 auto 3.7rem;
}
.dropzone {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 160px);
  padding: 15px;
  &__album-wrapper {
    flex: 1;
  }
}

p {
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #4a5257;
  font-weight: 400;
  margin: 0;
}
