.dropbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  visibility: hidden;
  background: #fff;
  opacity: 0;
  font-size: 3rem;
  border: 0.1rem dashed gray;
  border-radius: 8px;
  padding-top: 20vh;
  &__initial {
    font-size: 40px;
    height: 100%;
    text-transform: capitalize;
  }
  &.is-active {
    visibility: visible;
    opacity: 0.8;
  }
}

.dropzone {
  position: relative;
  min-height: calc(100vh - 160px);
  padding: 15px;
  &__album-wrapper {
    height: 100%;
  }
}
