.canvas {
  position: relative;
  width: 100%;
  background: #f4f7fa;
  padding: 5rem 5rem 5rem 39rem;
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#4a5257, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
  }
  &__inner {
    background: #fff;
    border-radius: 0.8rem;
    padding: 3.5rem;
  }

  &.photoChangeOptionactive {
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
}
